<div class="container">
  <div class="row">
    <h1>USER</h1>

    <input type="text" class="form-control" placeholder="Search" ng-model="search">
    <br>

    <table class="table table-bordered">
      <tr>
        <!--<th>ID</th>-->
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
      <tr ng-repeat="user in users | filter : search">
        <!--<td><p id="id{{user.$id}}">{{user.uid}}</p></td>-->
        <td><p id="name{{user.$id}}">{{user.name}}</p></td>
        <td><p id="email{{user.$id}}">{{user.email}}</p></td>
        <td><p id="phone{{user.$id}}">{{user.phone}}</p></td>
        <td><p id="address{{user.$id}}">{{user.address}}</p></td>


        <td class="text-right">
          <button id="edit{{user.$id}}" type="button" class="btn btn-primary" ng-click="edit(user.$id)">Edit</button>
          <button id="add{{user.$id}}" type="button" class="btn btn-success" ng-click="addUser(user.$id, user)" style="display: none">Finish</button>

          <button type="button" class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
        </td>
      </tr>  
      <tr>
        <td><input class="form-control" ng-model="user.userName"/></td>
        <td><input class="form-control" ng-model="user.email"/></td>
        <td><input class="form-control" ng-model="user.phone"/></td>
        <td><input class="form-control" ng-model="user.address"/></td>


        <td class="text-right">
          <button type="button" class="btn btn-primary" ng-click="add(user)">Add</button>
          <button type="button" class="btn btn-success" ng-click="clear()">Clear</button>
        </td>
      </tr>  
    </table>
  </div>
</div>

